@page "/"
@inject NavigationManager NavigationManager


<style>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  .company-font {
      font-family: 'Roboto Mono', sans-serif;
      font-weight: 300;
      font-size: 128px; /* You can adjust size as needed */
  }
</style>
<div class="d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">
  <h1 class="mb-5" style="text-align: center; font-family: 'Roboto Mono', sans-serif; font-weight: 650; color: #E6D690; font-size: 100px;"><strong>HobbyMate</strong></h1>
  <div>
    <button @onclick="Registration" style="border-radius: 90.56px; background-color: #FFCF48; border-color: gray; font-size: 150%; margin-right: 10px;">Registration</button>
    <button @onclick="Login" style="border-radius: 90.56px; background-color: #3EB489; border-color: gray; font-size: 150%;">Login</button>
  </div>
</div>
@code {
    private void Registration() 
    {
        NavigationManager.NavigateTo("/registration");
    }
    private void Login()
    {
        NavigationManager.NavigateTo("/login");
    }
}